<div class="bundles-area">
	<div class="header-image bundles-header">
		<h2 class="header-title">
			<span>Bundles, because</span> 
			<span>some messages just </span>
			<span>belong together <span>
		</h2>
	</div>

	<div class="aside-bg">
		<div class="nav-container">
			<ul>
				<li class="icon promos">
					<span>Promos</span>
				</li>
				<li class="icon purchases">
					<span>Purchases</span>
				</li>
				<li class="icon travel">
					<span>Travel</span>
				</li>
				<li class="icon create">
					<span>Create</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="right-container">
		<div class="h-center-container">
			<md-whiteframe class="md-whiteframe-z1 w-box" layout="row" layout-align="left left">
    			<p>
    				Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    			</p>
    				
    			
  			</md-whiteframe>
		</div>
	</div>
</div>