<div layout="row" class="inbox-area">	
	<div flex>
		<div layout="row" layout-margin layout-align="center center">
			<div flex>
				<div class="inbox-cont">
		    		<h2>Meet your new inbox.</h2>
		    		<p>Built on everything we learned from Gmail, Inbox is a fresh start that goes beyond email to help you get back to what matters.</p>
		    		<p>See how it works below</p>
		    	</div>		
	   		 </div>
			<div flex>
				<img src="assets/intro-product.png" class="inbox-img">
			</div>
		</div>
	</div>		
</div>